@model IEnumerable<ServiceDirectoryTemplate.Models.TrustRegion>
@{
    ViewBag.Title = "List Trust Region";
}
<script type="text/javascript" language="javascript">
$(function () {
    $("#table-region").tablesorter({widgets: ['zebra']});
});
function FilterRegion(str) {
    document.paging.filter.value = str;
    AjaxPaging('/TrustRegion/List','.container-body',document.paging,document.paging.page.value);
}
function ActivateRegion(RegionID) {
    var re = confirm("Do you want to make this Region active?");
    if (re) {
        $.ajax({
            url: "/TrustRegion/MarkActivate",
            type: "GET",
            data: ({ id: RegionID}),
            dataType: "html",
            success: function (data) {
                if (data == "ok")
                    AjaxPaging('/TrustRegion/List', '.container-body', document.paging, document.paging.page.value);
                else {
                    alert('Have error while processing your request');
                    loaded();
                }
            },
            error: function () {
                alert('Reqest server error'); loaded();
            }
        }); 
    }
}
</script>
<div class="container-right">
		<div class="table-content">
			<p style="color:#69a017;font-size:large;margin-bottom:10px">Trust Region List</p>
			<p>
			<span style="font-size:10px">
			<a href="javascript:FilterRegion('all')">All</a> | <a href="javascript:FilterRegion('0-9')">0-9</a> | <a href="javascript:FilterRegion('abcde')">A B C D E </a>
		| <a href="javascript:FilterRegion('fghij')">F G H I J</a> | <a href="javascript:FilterRegion('klmn')">K L M N</a> | <a href="javascript:FilterRegion('opqr')">O P Q R</a> 
		| <a href="javascript:FilterRegion('stuv')">S T U V</a> | <a href="javascript:FilterRegion('wxyz')">W X Y Z</a>
			</span>
			<span style="float:right;margin-right:10px"><a href="/TrustRegion/Add"><input type="button" value="Create" /></a> <input type="checkbox" @(ViewBag.Include=="true" ? "checked=checked":"") onchange="document.paging.include.value=this.checked;AjaxPaging('/TrustRegion/List','.container-body',document.paging,document.paging.page.value);" />  Include In-active</span>
			
			</p>
			
			<table class="sample" id="table-region" width="750px">
            <thead>
				<tr style="font-weight:bold;background:#d6d8db">
					<th width="250px">Trust Region Name</th>
					<th width="180px">Description</th>
					<th width="90px">Nation/Country</th>
					<th width="110px">Is Active?</th>
					<td> </td>
				</tr>
			</thead>	
            <tbody>
			@foreach (var reg in Model) {
                <tr>
                    <td class="organisation-name">
                        <a title="Edit Information Trust Region" href="@(reg.TrustRegionIsActive == 1 ? "/TrustRegion/Amend/" + reg.TrustRegionID : "javascript:ActivateRegion('" + reg.TrustRegionID + "')")">
                        @reg.TrustRegionName
                        </a>
                    </td>
                    <td>
                        @reg.TrustRegionDescription
                    </td>
                    <td>
                        @reg.CountryID
                    </td>
                    <td>
                        @(reg.TrustRegionIsActive == 1 ? "Yes" : "No")
                    </td>
                    <td>
                        
                    </td>
                </tr>
            }
            </tbody>
			</table>
			
			@{ Html.RenderAction("PagingHtml", "RefData", new {
         urlRequest = "/TrustRegion/List",
         tagContainer = ".container-body",
         formName="paging",
         page = ViewBag.Page,
         totalPage = ViewBag.TotalPage,
         filter = ViewBag.Filter,
         include = ViewBag.Include
         
        });  }
		</div>
	</div>