@{
    Layout = "~/Views/Shared/LayOutNull.cshtml";
    ViewBag.Title = "Add new Premise Link to Service";
}
@model IEnumerable<ServiceDirectoryTemplate.Models.Service>

<script type="text/javascript" language="javascript">
$(function () {
    $('#tabs').tabs();
    $("#table-service").tablesorter({ widgets: ['zebra'] });
});
function FilterService(str) {
    document.pagingServiceLink.filter.value = str;
    AjaxPaging('/Premise/NewServiceLink/@ViewBag.PremiseID','.container-body',document.pagingServiceLink,document.pagingServiceLink.page.value);
}
</script>
    <div class="table-content" style="width:750px;">
		<p style="text-align:left"><a href="">Service &gt; New Service Link</a></p>
		<p style="color:#69a017;font-size:large;margin-bottom:10px;text-align:left">New Link to Premise</p>
		
		<div id="tabs" style="width:750px">
			<ul>
				<li><a href="#tabs-1">New Link to Premise</a></li>
			</ul>
        </div>
        <div id="tabs-1" style="width:750px">
<form action="/Premise/AddServiceLink/@ViewBag.PremiseID" method="post" name="NewLink" id="NewLink" enctype="multipart/form-data">
<span style="font-size:10px">
		<a href="javascript:FilterService('all')">All</a> | <a href="javascript:FilterService('0-9')">0-9</a> | <a href="javascript:FilterService('abcde')">A B C D E </a>
		| <a href="javascript:FilterService('fghij')">F G H I J</a> | <a href="javascript:FilterService('klmn')">K L M N</a> | <a href="javascript:FilterService('opqr')">O P Q R</a> 
		| <a href="javascript:FilterService('stuv')">S T U V</a> | <a href="javascript:FilterService('wxyz')">W X Y Z</a>
		</span>
<table class="sample" id="table-service" width="750px">
<thead>
<tr style="font-weight:bold;background:#d6d8db">
    <td>&nbsp;</td>
	<th>Service name</th>
	<th>Description</th>
	<th>Service Type</th>
    <th>Contact</th>
</tr>
</thead>

<tbody>
@foreach (var item in Model)
{
	<tr>
        <td><input type="checkbox" name="id[]" value="@item.SerID" /></td>
        <td><a style="color:Blue;">@item.SerName</a></td>
        <td>@item.SerShortDescription</td>
        <td>@item.SerType</td>
        <td>@item.Contact.FirstName</td>
    </tr>
}

</tbody>
</table>
</form>
@{Html.RenderAction("PagingHtml", "RefData", new
  {
      urlRequest = "/Premise/NewServiceLink/" + ViewBag.PremiseID,
      tagContainer = ".container-body",
      formName = "pagingServiceLink",
      page = ViewBag.Page,
      totalPage = ViewBag.TotalPage,
      filter = ViewBag.Filter,
      include = 0
  }
  );
}
<p><span style="float:right;"><input style="width:70px" type="button" onclick="document.NewLink.submit()" value="Ok" /><input style="width:70px" type="button" onclick="window.close()" value="Cancel" /></span><div style="clear:both"></div></p>
        </div>
    </div>
