@model ServiceDirectoryTemplate.Models.Premise
@{
    ViewBag.Title = "Amend Premise";
}

<script type="text/javascript" language="javascript">
    function OpeningTimes() {
        var StartMonday = document.AddPremise.StartMonday.value; var CheckMonday= document.AddPremise.CheckMonday.value;
        var EndMonday = document.AddPremise.EndMonday.value;
        var StartTuesday = document.AddPremise.StartTuesday.value;var CheckTuesday= document.AddPremise.CheckTuesday.value;
        var EndTuesday = document.AddPremise.EndTuesday.value;
        var StartWednesday = document.AddPremise.StartWednesday.value;var CheckWednesday= document.AddPremise.CheckWednesday.value;
        var EndWednesday = document.AddPremise.EndWednesday.value;
        var StartThursday = document.AddPremise.StartThursday.value;var CheckThursday= document.AddPremise.CheckThursday.value;
        var EndThursday = document.AddPremise.EndThursday.value;
        var StartFriday = document.AddPremise.StartFriday.value;var CheckFriday= document.AddPremise.CheckFriday.value;
        var EndFriday = document.AddPremise.EndFriday.value;
        var StartSaturday = document.AddPremise.StartSaturday.value;var CheckSaturday= document.AddPremise.CheckSaturday.value;
        var EndSaturday = document.AddPremise.EndSaturday.value;
        var StartSunday = document.AddPremise.StartSunday.value;var CheckSunday= document.AddPremise.CheckSunday.value;
        var EndSunday = document.AddPremise.EndSunday.value;
        var win=window.open("/Premise/OpeningTimes?StartMonday=" + StartMonday + "&EndMonday=" + EndMonday + "&StartTuesday=" + StartTuesday + "&EndTuesday=" + EndTuesday + "&StartWednesday=" + StartWednesday + "&EndWednesday=" + EndWednesday + "&StartThursday=" + StartThursday + "&EndThursday=" + EndThursday + "&StartFriday=" + StartFriday + "&EndFriday=" + EndFriday + "&StartSaturday=" + StartSaturday + "&EndSaturday=" + EndSaturday + "&StartSunday=" + StartSunday + "&EndSunday=" + EndSunday + "&CheckMonday=" + CheckMonday + "&CheckTuesday=" + CheckTuesday + "&CheckWednesday=" + CheckWednesday + "&CheckThursday=" + CheckThursday + "&CheckFriday=" + CheckFriday + "&CheckSaturday=" + CheckSaturday + "&CheckSunday=" + CheckSunday, 'OpeningTimes', 'width=450,height=350,left=150,top=150,scrollbars=yes,resizable=no');
    }
    function AddContactWithCheck(FormName, IdTag, NameTag, IsAllow) {
        if(IsAllow==true)
            AddrLookUp(FormName, IdTag, NameTag);
    }
    function MediaCheckBoxClick(IsChecked) {
        if (IsChecked == true) {
            document.AddPremise.MediaContactName.disabled = false;
            $("#LookUpMedia").removeClass("disable").addClass("link").css("color","blue");
        }
        else if (IsChecked == false) {
            document.AddPremise.MediaContactName.disabled = true;
            $("#LookUpMedia").removeClass("link").addClass("disable").css("color","gray");
        }
    }
    function CateringCheckBoxClick(IsChecked) {
        if (IsChecked == true) {
            document.AddPremise.CateringContactName.disabled = false;document.AddPremise.CateringType.disabled = false;
            $("#LookUpCatering").removeClass("disable").addClass("link").css("color","blue");
        }
        else if (IsChecked == false) {
            document.AddPremise.CateringContactName.disabled = true;document.AddPremise.CateringType.disabled = true;
            $("#LookUpCatering").removeClass("link").addClass("disable").css("color","gray");
        }
    }
    function HostVisitsCheckBoxClick(IsChecked) {
        if (IsChecked == true) {
            document.AddPremise.HostingContactName.disabled = false;
            $("#LookUpHost").removeClass("disable").addClass("link").css("color","blue");
        }
        else if (IsChecked == false) {
            document.AddPremise.HostingContactName.disabled = true;
            $("#LookUpHost").removeClass("link").addClass("disable").css("color","gray");
        }
    }
    function ITCheckBoxClick(IsChecked) {
        if (IsChecked == true) {
            document.AddPremise.ClientITFacilitiesDetail.disabled = false;
        }
        else if (IsChecked == false) {
            document.AddPremise.ClientITFacilitiesDetail.disabled = true;
        }
    }
    function ParkingCheckBoxClick(IsChecked) {
        if (IsChecked == true) {
            document.AddPremise.VisitorParkingSpace.disabled = true;
            document.AddPremise.VisitorParkingAlternative.disabled = false;
        }
        else if (IsChecked == false) {
            document.AddPremise.VisitorParkingSpace.disabled = false;
            document.AddPremise.VisitorParkingAlternative.disabled = true;
        }
    }
    function ChangeShopFlagDate(value) {
        var day=DiffDate(GetToday(), value);
        if(day<=60)
            document.AddPremise.PremiseIsNew.checked = true;
        else
            document.AddPremise.PremiseIsNew.checked = false;
    }
    function AppearTab4() {
        var hotel_venue = IsHotelVenue();
        var shop = IsShop();

        if (hotel_venue==true) {
                $("#detail4").css("display", "inline");
        }
        else {
            $("#detail4").css("display", "none");
        }
        ShopChecked(shop);
    }
    function IsHotelVenue() {
        var type = document.getElementsByName("LocationType[]");
        var Hotel = false;
        var Venue = false;
        for (var i = 0; i < type.length; i++) {
            if (type[i].value == 78)
                Hotel = type[i].checked;
            else if (type[i].value == 79)
                Venue = type[i].checked;
        }
        return Hotel || Venue;
    }
    function IsShop() {
        var type = document.getElementsByName("LocationType[]");
        var Shop = false;
        for (var i = 0; i < type.length; i++) {
            if (type[i].value == 87)
                Shop = type[i].checked;
        }
        return Shop;
    }
    function ShopChecked(isChecked) {
        if (isChecked == true) {
            document.AddPremise.PremiseIsNew.disabled = false;
            document.AddPremise.PremiseShopFlagDate.disabled = false;
            document.AddPremise.PremiseSpecialistShop.disabled = false;
        }
        else {
            document.AddPremise.PremiseIsNew.disabled = true;
            document.AddPremise.PremiseShopFlagDate.disabled = true;
            document.AddPremise.PremiseSpecialistShop.disabled = true;
        }
    }
    $.validator.addMethod("moneytary", function (value, element, param) {
        if (!value) return true;
        if (IsHotelVenue() == false) return true;
        return /^(?:\d+|\d{1,3}(?:,\d{3})+)(?:\.\d{1,2})?$/.test(value);
    }, "Some money fields is not correct");
    $.validator.addMethod("digital", function (value, element, param) {
        if (!value) return true;
        if (IsHotelVenue() == false) return true;
        return /^\d+$/.test(value);
    }, "Some number fields is not correct");
    $.validator.addMethod("maxmoney", function (value, element, param) {
        if (!value) return true;
        if (IsHotelVenue() == false) return true;
        return value.replace(",","").split(".")[0].length<=5;
    }, "Detail 4: Some money fields is too big");

    $(function () {
        $("#LocationStatusDate").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#PremiseShopFlagDate").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#LastNegotiatedDate").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#RenegotiateOn").datepicker({ dateFormat: 'dd/mm/yy' });
        $("#AddPremise").submit(function (e) {
            var form = this;
            if ($(this).valid()) {
                if (form.pendding.value == 1)
                    return false;
                var PremiseAddr1 = document.AddPremise.PremiseAddr1.value;
                var PostCode = document.AddPremise.PostCode.value;
                var LocationName = document.AddPremise.LocationName.value;
                $.ajax({
                    type: "POST",
                    url: "/Premise/CheckUnique1/@Model.PremiseID",
                    data: ({ LocationName: LocationName, PremiseAddr1: PremiseAddr1, PostCode: PostCode }),
                    success: function (data) {
                        form.pendding.value = 1;
                        if (data == "true") {
                            var Address1 = form.PremiseAddr1.value;
                            var PostCode = form.PostCode.value;
                            var Town = form.CityTown.value;
                            var County = form.County.value;
                            var CountryID = form.CountryID.value;
                            $.ajax({
                                type: "POST",
                                url: "/Address/AddressIsNew",
                                data: ({ Address1: Address1, PostCode: PostCode, Town: Town, County: County, CountryID: CountryID }),
                                success: function (data) {
                                    form.pendding.value = 1;
                                    if (data == "true") {
                                        var re = confirm("Address Details cannot be confirmed\nDo you wish to enter Unconfirmed Address Data");
                                        if (re == true) {
                                            form.submit();
                                        } else {
                                            form.PremiseAddr1.value = "";
                                            form.PostCode.value = "";
                                            form.CityTown.value = "";
                                            form.County.value = "";
                                            form.CountryID.selectedIndex = 0;
                                            form.PremiseAddr1.focus();
                                        }
                                    }
                                    else {
                                        form.submit();
                                    }
                                    form.pendding.value = 0;
                                }
                            });
                        }
                        else {
                            alert("Invalid: This Location Name with Address and PostCode aready have");
                            $("#LocationName").addClass("error");
                            document.AddPremise.LocationName.focus();
                        }
                        form.pendding.value = 0;
                    }
                });
            }
            return false;
        });
        $("#AddPremise").validate({
            errorLabelContainer: $("div.error"),
            rules: {
                LocationName: { required: true, maxlength: 100 },
                LocationStatus: { required: true },
                "LocationType[]": { required: true },
                PremisePhone: { required: true },
                RoomOnlyRate: { moneytary: true, maxmoney: true },
                NegotiatedRoomonlyRate: { moneytary: true, maxmoney: true },
                BBRate: { moneytary: true, maxmoney: true },
                BBNegotiatedRate: { moneytary: true, maxmoney: true },
                DBBRate: { moneytary: true, maxmoney: true },
                DBBNegotiatedRate: { moneytary: true, maxmoney: true },
                DDRate: { moneytary: true, maxmoney: true },
                DDNegotiatedRate: { moneytary: true, maxmoney: true },
                pre24hrRate: { moneytary: true, maxmoney: true },
                pre24hrNeotiatedRate: { moneytary: true, maxmoney: true },
                TeaAndCoffee: { moneytary: true, maxmoney: true },
                MeetingRoomRatePerDay: { moneytary: true, maxmoney: true },
                NoOfMeetingRooms: { digital: true },
                VisitorParkingSpace: { digits: true }
            },
            messages: {
                LocationName: {
                    required: "Please input the Location Name",
                    maxlength: "Short Description is too long"
                },
                LocationStatus: { required: "Please choose the Location Status" },
                "LocationType[]": { required: "Please choose at least one Location Type" },
                PremisePhone: { required: "Please inout the Phone Number" },
                RoomOnlyRate: {
                    moneytary: "Detail 4: The Room Only Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The Room Only Rate can's be much more than 9,999.99"
                },
                NegotiatedRoomonlyRate: {
                    moneytary: "Detail 4: The Negotiated Roomonly Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: can's be much more than 9,999.99"
                },
                BBRate: {
                    moneytary: "Detail 4: The B&B Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The B&B Rate can's be much more than 9,999.99"
                },
                BBNegotiatedRate: {
                    moneytary: "The B&B Negotiated Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The B&B Negotiated Rate can's be much more than 9,999.99"
                },
                DBBRate: {
                    moneytary: "Detail 4: The DBB Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The DBB Rate can's be much more than 9,999.99"
                },
                DBBNegotiatedRate: {
                    moneytary: "Detail 4: The DBB NegotiatedRate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The DBB NegotiatedRate can's be much more than 9,999.99"
                },
                DDRate: {
                    moneytary: "Detail 4: The DD Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The DD Rate can's be much more than 9,999.99"
                },
                DDNegotiatedRate: {
                    moneytary: "Detail 4: The DD Negotiated Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The DD Negotiated Rate can's be much more than 9,999.99"

                },
                pre24hrRate: {
                    moneytary: "Detail 4: The 24hr Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The 24hr Rate can's be much more than 9,999.99"
                },
                pre24hrNeotiatedRate: {
                    moneytary: "Detail 4: The 24hr Neotiated Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The 24hr Neotiated Rate can's be much more than 9,999.99"
                },
                TeaAndCoffee: {
                    moneytary: "Detail 4: The Tea And Coffee Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The Tea And Coffee Rate can's be much more than 9,999.99"
                },
                MeetingRoomRatePerDay: {
                    moneytary: "Detail 4: The Meeting Room Rate must be money format (9,999.99)",
                    maxmoney: "Detail 4: The Meeting Room Rate can's be much more than 9,999.99"
                },
                NoOfMeetingRooms: { digital: "Detail 4: The No. Of Meeting Rooms must be number" },
                VisitorParkingSpace: { digits: "Detail 3: The Visitor Parking Space must be number" }
            }
        });
        $("input:[class=hight-light-type]:checked").parent("p").css("background-color", "#8CB8FF");
        $(".hight-light-type").click(function () {
            var isChecked = $(this).attr("checked");
            if (isChecked == "checked")
                $(this).parent("p").css("background-color", "#8CB8FF");
            else
                $(this).parent("p").css("background-color", "white");
            AppearTab4();

        });
        AppearTab4();
        MediaCheckBoxClick(document.AddPremise.MediaContactCheck.checked);
        CateringCheckBoxClick(document.AddPremise.CateringFacilities.checked);
        HostVisitsCheckBoxClick(document.AddPremise.HostVisits.checked);
        ITCheckBoxClick(document.AddPremise.ClientITFacilities.checked);
        ParkingCheckBoxClick(document.AddPremise.VisitorParkingOnsite.checked);
        //IsSaved();
    });
    //function IsSaved() {
        //if("true"=="")
            //alert("Action success!");
    //}
</script>
<div class="container-right">
		<div class="table-content">
			

		<div id="tabs">
            <form action="/Premise/Amend/@Model.PremiseID" enctype="multipart/form-data" id="AddPremise" method="post" name="AddPremise">
            <input type="hidden" name="pendding" value="0" />
            <p style="color:#69a017;font-size:large;margin-bottom:10px; float:left;">Premise Details</p>
            <span style="float:right;margin-right:10px">
            <input type="button" onclick="window.location='/Premise/MarkInactivate/@Model.PremiseID'" value="In-activate" />
			<input type="submit" value="Save" /> 
			<a href="/Premise/List" style="text-decoration:none"><input type="button" value="Back" /> </a>
			</span>
            <div style="clear:both; margin-bottom:5px;"></div>
			<ul>
				<li><a href="#tabs-1">Details 1</a></li>
				<li><a href="#tabs-2">Details 2</a></li>
				<li><a href="#tabs-3">Details 3</a></li>
                <li id="detail4"><a href="#tabs-4">Details 4</a></li>
                <li><a href="#tabs-5">Facilities</a></li>
                <li><a href="#tabs-6">Volunteering</a></li>
                <li><a href="#tabs-7">Minor Works</a></li>
                <li><a href="#tabs-8">Services</a></li>
			</ul>
			<div id="tabs-1">
			<table class="table-only-border-out" width="750px">
				<tr>
					<td width="130px">Location Name &nbsp;<span style="color:red">*</span></td>
					<td width="230px"><input id="LocationName" class="standar-textbox" name="LocationName" type="text" value="@Model.LocationName"/></td>
					<td width="150px">Primary Location</td>
					<td><input type="checkbox" value="1" name="PrimaryLocation" @(Model.PrimaryLocation==1?"checked=checked":"") /></td>
				</tr>
				<tr>
					<td>Known AS</td>
					<td><input type="text" class="standar-textbox" name="KnownAS" value="@Model.KnownAS" /></td>
					<td>Location Managed</td>
					<td><input type="checkbox" value="1" name="LocationManaged" @(Model.LocationManaged == 1 ? "checked=checked" : "")/></td>
				</tr>
                <tr>
                    <td>Location Organisation</td>
                    <td><input name="LocationOrganisation" type="hidden" value="@Model.LocationOrganisation" /><input name="LocationOrganisationName" readonly="readonly" type="text" value="@(Model.LocationOrganisation!=null? Model.Organisation.OrgName:null)"/><a onclick="" class="link" style="color:Blue">Lookup</a></td>
					<td rowspan="4">Location Type<span style="color:red">*</span></td>
					<td rowspan="4"><div class="scroll">
	                @foreach (var item in ViewBag.LocationType) 
	                {
		                <p style="width: 300px;"><input class="hight-light-type" type="checkbox" @(Model.RefListID.Contains(","+item.Id+",")?"checked=checked":"")  name="LocationType[]" value="@item.Id" />@item.Text</p>
		            }
		            </div></td>
				</tr>

                <tr>
                    <td>Location Status<span style="color:red">*</span></td>
					<td><select name="LocationStatus" class="standar-dropdown">
                        <option></option>
                        <option @(Model.LocationStatus == "Pending Active" ? "selected=selected" : "") value="Pending Active">Pending Active</option>
                        <option @(Model.LocationStatus == "Active" ? "selected=selected" : "") value="Active">Active</option>
                        <option @(Model.LocationStatus == "Pending Closure" ? "selected=selected" : "") value="Pending Closure">Pending Closure</option>
                        <option @(Model.LocationStatus == "Closed" ? "selected=selected" : "") value="Closed">Closed</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Location Status Date</td>
                    <td><input type="text" name="LocationStatusDate" id="LocationStatusDate" value="@ViewBag.LocationStatusDate"/></td>
                </tr>
                <tr>
                    <td>Address Line 1</td>
                    <td><input type="text" name="PremiseAddr1" class="standar-textbox" value="@Model.PremiseAddr1" /></td>
                </tr>
                <tr>
                    <td>Address Line 2</td>
                    <td><input type="text" name="PremiseAddr2" class="standar-textbox" value="@Model.PremiseAddr2"/></td>
                    <td rowspan="2">Location Description</td>
                    <td rowspan="2"><textarea class="standar-textarea" name="LocationDescription">@Model.LocationDescription</textarea></td>
                </tr>
				<tr>
                    <td >Address Line 3</td>
                    <td><input type="text" name="PremiseAddr3" class="standar-textbox" value="@Model.PremiseAddr3"/></td>
                </tr>
                <tr>
                    <td>Postcode </td>
				    <td><input id="PostCode" type="text" name="PostCode" value="@Model.PremisePostCode" /><a onclick="PostCodeLookUp('PostCode','PremiseAddr1','CityTown','County','CountryID')" class="link" style="color:Blue">Lookup</a></td>
                    <td>Phone Number&nbsp;<span style="color:red">*</span></td>
                    <td><input type="text" name="PremisePhone" value="@Model.PremisePhone" class="standar-textbox"/></td>
                </tr>
                <tr>
                    <td>City/Town</td>
				    <td><input class="standar-textbox"  type="text" name="CityTown" value="@Model.CityTown" /> </td>
                    <td>General Fax Number</td>
                    <td><input type="text" name="PremisFax" class="standar-textbox" value="@Model.PremisFax"/></td>
                </tr>
                <tr>
                    <td>County</td>
				    <td><input class="standar-textbox"  type="text" name="County" value="@Model.County" /> </td>
                    <td>Minicomn Number</td>
                    <td><input type="text" name="PremisMinicomn" class="standar-textbox" value="@Model.PremisMinicomn"/></td>
                </tr>
                <tr>
                    <td>Nation/Country</td>
				    <td>
                        <select class="standar-dropdown" name="CountryID">
                        <option></option>
                        @foreach (var country in ViewBag.ListCountry)
                        {
                                <option @(Model.CountryID == country.CountryID?"selected=selected":"") value="@country.CountryID">@country.CountryName</option>
                        }
                        </select>
                    </td>
                    <td >Is New Shop?</td>
                    <td><input type="checkbox" value="1" disabled="disabled" @(Model.PremiseIsNew == 1 ? "checked=checked" : "") name="PremiseIsNew"/></td>    
                </tr>
                <tr>
                    <td style="vertical-align:top;" rowspan="3" colspan="2">
                    <input type="hidden" name="CheckMonday" value="@(Model.PremiseOpenSchedule.StartMonday == "" && Model.PremiseOpenSchedule.EndMonday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartMonday" value="@Model.PremiseOpenSchedule.StartMonday" />
                    <input type="hidden" name="EndMonday" value="@Model.PremiseOpenSchedule.EndMonday" />
                    <input type="hidden" name="CheckTuesday" value="@(Model.PremiseOpenSchedule.StartTuesday == "" && Model.PremiseOpenSchedule.EndTuesday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartTuesday" value="@Model.PremiseOpenSchedule.StartTuesday" />
                    <input type="hidden" name="EndTuesday" value="@Model.PremiseOpenSchedule.EndTuesday" />
                    <input type="hidden" name="CheckWednesday" value="@(Model.PremiseOpenSchedule.StartWednesday == "" && Model.PremiseOpenSchedule.EndWednesday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartWednesday" value="@Model.PremiseOpenSchedule.StartWednesday" />
                    <input type="hidden" name="EndWednesday" value="@Model.PremiseOpenSchedule.EndWednesday" />
                    <input type="hidden" name="CheckThursday" value="@(Model.PremiseOpenSchedule.StartThursday == "" && Model.PremiseOpenSchedule.EndThursday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartThursday" value="@Model.PremiseOpenSchedule.StartThursday" />
                    <input type="hidden" name="EndThursday" value="@Model.PremiseOpenSchedule.EndThursday" />
                    <input type="hidden" name="CheckFriday" value="@(Model.PremiseOpenSchedule.StartFriday == "" && Model.PremiseOpenSchedule.EndFriday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartFriday" value="@Model.PremiseOpenSchedule.StartFriday" />
                    <input type="hidden" name="EndFriday" value="@Model.PremiseOpenSchedule.EndFriday" />
                    <input type="hidden" name="CheckSaturday" value="@(Model.PremiseOpenSchedule.StartSaturday == "" && Model.PremiseOpenSchedule.EndSaturday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartSaturday" value="@Model.PremiseOpenSchedule.StartSaturday"/>
                    <input type="hidden" name="EndSaturday" value="@Model.PremiseOpenSchedule.EndSaturday"/>
                    <input type="hidden" name="CheckSunday" value="@(Model.PremiseOpenSchedule.StartSunday == "" && Model.PremiseOpenSchedule.EndSunday == "" ? "false" : "true")" />
                    <input type="hidden" name="StartSunday" value="@Model.PremiseOpenSchedule.StartSunday"/>
                    <input type="hidden" name="EndSunday"  value="@Model.PremiseOpenSchedule.EndSunday"/>
                    <a onclick="OpeningTimes()" class="link" style="color:Blue">Location Opening Times</a></td>
                    <td>Shop Flag Date</td>
                    <td><input type="text" disabled="disabled" name="PremiseShopFlagDate" onchange="ChangeShopFlagDate(this.value)" id="PremiseShopFlagDate" value="@ViewBag.PremiseShopFlagDate"/></td>
                </tr>
                <tr>
                    <td>Specialist Shop</td>
                    <td><input type="checkbox" @(Model.PremiseSpecialistShop==1?"checked=checked":"") disabled="disabled" value="1" name="PremiseSpecialistShop"/></td>
                </tr>
                <tr><td></td><td></td><td></td><td></td></tr>
			</table>
            
			</div>
			<div id="tabs-2">
			<table class="table-only-border-out" width="750px">
				
				 <tr>
                    <td width="130px">Accreditaions</td>
                    <td width="230px"><div class="scroll">			
	                @foreach (var item in ViewBag.Accreditation) 
	                {
		                <p style="width: 300px;"><input class="hight-light-onclick" type="checkbox" name="RefListID[]" value="@item.Id" @(Model.PremiseDetail.RefListID.Contains(","+item.Id+",")?"checked=checked":"") />@item.Text</p>
		            }
		            </div></td>
                    <td width="130px">JSP Offices</td>
                    <td><div class="scroll">
                    @foreach (var item in ViewBag.JCP) 
	                    {
		                    <p style="width: 300px;"><input class="hight-light-onclick" type="checkbox" name="RefListID[]" @(Model.PremiseDetail.PremiseJSPListID.Contains("," + item.Id + ",") ? "checked=checked" : "") value="@item.Id" />@item.Text</p>
		                }
                    </div></td>
                 </tr>
                 <tr>
                    <td>Media Contact</td>
                    <td><input name="MediaContactCheck" @(Model.PremiseDetail.MediaContactCheck == 1 ? "checked=checked" : "") value="1" type="checkbox" onclick="MediaCheckBoxClick(this.checked)" /></td>
                    <td>Catering Facilities</td>
                    <td><input name="CateringFacilities" value="1" @(Model.PremiseDetail.CateringFacilities==1?"checked=checked":"") type="checkbox" onclick="CateringCheckBoxClick(this.checked)" /></td>
                 </tr>
                 <tr>
                    <td>Media Contact Name</td>
                    <td><input name="MediaContact" value="@Model.PremiseDetail.MediaContact" type="hidden"/><input name="MediaContactName" disabled="disabled" readonly="readonly" value="@(Model.PremiseDetail.MediaContact != null ? Model.PremiseDetail.Contact2.FirstName : "")" type="text" /><a onclick="AddContactWithCheck('AddPremise', 'MediaContact', 'MediaContactName', document.AddPremise.MediaContact.checked)" id="LookUpMedia" class="disable" style="color:Gray">Lookup</a></td>
                    <td>Catering Contact</td>
                    <td><input type="hidden" value="@Model.PremiseDetail.CateringContact" name="CateringContact"/><input name="CateringContactName" disabled="disabled" value="@(Model.PremiseDetail.CateringContact != null ? Model.PremiseDetail.Contact.FirstName : "")" type="text" readonly="readonly" /><a onclick="AddContactWithCheck('AddPremise', 'CateringContact', 'CateringContactName', document.AddPremise.CateringFacilities.checked)" id="LookUpCatering" class="disable" style="color:Gray">Lookup</a></td>
                 </tr>
				 <tr>
                    <td rowspan="3">Local Demographic Issues </td>
                    <td rowspan="3"> <div class="scroll">			
	                @foreach (var item in ViewBag.Demographic) 
	                {
		                <p style="width: 300px;"><input class="hight-light-onclick" type="checkbox" name="RefListID[]" value="@item.Id" @(Model.PremiseDetail.RefListID.Contains("," + item.Id + ",") ? "checked=checked" : "")  />@item.Text</p>
		            }
		            </div></td>
                    <td>Catering Type</td>
                    <td><select name="CateringType" class="standar-dropdown" disabled="disabled">
                        <option></option>
                        <option @(Model.PremiseDetail.CateringType==1?"selected=selected":"") value="1">On-Premise</option>
                        <option @(Model.PremiseDetail.CateringType==2?"selected=selected":"") value="2">Off-Premise</option>
                    </select></td>
                 </tr>
                 <tr>
                    <td>IS/Network</td>
                    <td><select name="RefListID[]" class="standar-dropdown">
                        <option></option>
                        @foreach (var item in ViewBag.ISNetwork) 
	                {
		                <option @(Model.PremiseDetail.RefListID.Contains("," + item.Id + ",") ? "selected=selected" : "") value="@item.Id">@item.Text</option>
		            }
                    </select></td>
                 </tr>
                 <tr>
                    <td>Client IT Facilities</td>
                    <td><input name="ClientITFacilities" type="checkbox" @(Model.PremiseDetail.ClientITFacilities==1?"checked=checked":"") value="1" onclick="ITCheckBoxClick(this.checked)" /></td>
                 </tr>
                 <tr>
                    <td rowspan="3">Local Demographic Notes</td>
                    <td rowspan="3"><textarea cols="29" rows="5"  name="LocalDemographicNote">@Model.PremiseDetail.LocalDemographicNote</textarea></td>
                    <td>Client IT Facilities Details</td>
                    <td><textarea disabled="disabled" cols="28" rows="3" name="ClientITFacilitiesDetail">@Model.PremiseDetail.ClientITFacilitiesDetail</textarea></td>
                 </tr>
                 <tr>
                    <td>Room Availability</td>
                    <td><input type="checkbox" name="RoomAvailability" value="1" @(Model.PremiseDetail.RoomAvailability==1?"checked=checked":"") /></td>
                 </tr>
                 <tr>
                    <td>Volunteering Opportunuties</td>
                    <td><input type="checkbox" value="1" name="VolunteeringOpportunuties" @(Model.PremiseDetail.VolunteeringOpportunuties==1?"checked=checked":"") /></td>
                 </tr>
			</table>
			</div>
			<div id="tabs-3">
                <table class="table-only-border-out" width="750px">
                    <tr>
                        <td width="130px">Outreach Location </td>
                        <td width="230px"><div class="scroll">
                        @foreach (var item in ViewBag.Outreach) 
	                    {
		                    <p style="width: 300px;"><input class="hight-light-onclick" type="checkbox" name="PremiseOutreachLocationListID[]" @(Model.PremiseDetail.PremiseOutreachLocationListID.Contains(","+item.Id+ ",") ?"checked=checked":"") value="@item.Id" />@item.Text</p>
		                }
                        </div></td>
                        <td width="130px">Local Hotel </td>
                        <td><div class="scroll">
                        @foreach (var item in ViewBag.Hotel) 
	                    {
		                    <p style="width: 300px;"><input class="hight-light-onclick" type="checkbox" name="PremiseLocalHotelListID[]" @(Model.PremiseDetail.PremiseLocalHotelListID.Contains("," + item.Id + ",") ?"checked=checked":"") value="@item.Id" />@item.Text</p>
		                }
                        </div></td>
                    </tr>
                    <tr><th colspan="4">Travel</th></tr>
                    <tr>
                        <td>Travel Details</td>
                        <td><input type="text" name="TravelDetail" value="@Model.PremiseDetail.TravelDetail" class="standar-textbox" /></td>
                        <td>Visitor Parking Onsite</td>
                        <td><input type="checkbox" value="1" name="VisitorParkingOnsite" @(Model.PremiseDetail.VisitorParkingOnsite==1?"checked=checked":"") onclick="ParkingCheckBoxClick(this.checked)" /></td>
                    </tr>
                    <tr>
                        <td>Nearest - Bus</td>
                        <td><input type="text" name="TravelNearestBus" class="standar-textbox" value="@Model.PremiseDetail.TravelNearestBus"/></td>
                        <td>Visitor Parking Space</td>
                        <td><input type="text" class="standar-textbox" name="VisitorParkingSpace" value="@Model.PremiseDetail.VisitorParkingSpace" /></td>
                    </tr>
                    <tr>
                        <td>Nearest - Rail</td>
                        <td><input type="text" name="TravelNearestRail" class="standar-textbox" value="@Model.PremiseDetail.TravelNearestRail"/></td>
                        <td rowspan="4">Visitor Parking Alternative</td>
                        <td rowspan="4"><textarea disabled="disabled" cols="28" rows="5" name="VisitorParkingAlternative">@Model.PremiseDetail.VisitorParkingAlternative</textarea></td>
                    </tr>
                    <tr>
                        <td>Nearest - Airport</td>
                        <td><input type="text" name="TravelNearestAirport" class="standar-textbox" value="@Model.PremiseDetail.TravelNearestAirport" /></td>
                    </tr>
                    <tr>
                        <td>Host Visits</td>
                        <td><input type="checkbox" name="HostVisits" @(Model.PremiseDetail.HostVisits==1?"checked=checked":"") value="1" onclick="HostVisitsCheckBoxClick(this.checked)" /></td>
                    </tr>
                    <tr>
                        <td>Hosting Contact</td>
                        <td><input type="hidden" name="HostingContact" value="@Model.PremiseDetail.HostingContact" /><input name="HostingContactName" value="@(Model.PremiseDetail.HostingContact != null ? Model.PremiseDetail.Contact1.FirstName: "")" disabled="disabled" type="text" readonly="readonly" /><a onclick="AddContactWithCheck('AddPremise', 'HostingContact', 'HostingContactName', document.AddPremise.HostVisits.checked)" id="LookUpHost" class="disable" style="color:Gray">Lookup</a></td>
                    </tr>
                </table>
            </div>
            <div id="tabs-4">
                <table class="table-only-border-out" width="750px">
                    <tr>
                        <td width="130px">Room Only Rate</td>
                        <td width="230px"><input type="text" name="RoomOnlyRate" value="@Model.PermiseDetailForCost.RoomOnlyRate" /></td>
                        <td width="130px">Negotiated Room only Rate</td>
                        <td><input type="text" name="NegotiatedRoomonlyRate" value="@Model.PermiseDetailForCost.NegotiatedRoomonlyRate"/></td>
                    </tr>
                    <tr>
                        <td width="130px">B&B Rate</td>
                        <td width="230px"><input type="text" name="BBRate" value="@Model.PermiseDetailForCost.BBRate"/></td>
                        <td width="130px">B&B NegotiatedRate</td>
                        <td><input type="text" name="BBNegotiatedRate" value="@Model.PermiseDetailForCost.BBNegotiatedRate"/></td>
                    </tr>
                    <tr>
                        <td width="130px">DBB Rate</td>
                        <td width="230px"><input type="text" name="DBBRate" value="@Model.PermiseDetailForCost.DBBRate"/></td>
                        <td width="130px">DBB NegotiatedRate</td>
                        <td><input type="text" name="DBBNegotiatedRate" value="@Model.PermiseDetailForCost.DBBNegotiatedRate"/></td>
                    </tr>
                    <tr>
                        <td width="130px">DD Rate</td>
                        <td width="230px"><input type="text" name="DDRate" value="@Model.PermiseDetailForCost.DDRate"/></td>
                        <td width="130px">DD NegotiatedRate</td>
                        <td><input type="text" name="DDNegotiatedRate" value="@Model.PermiseDetailForCost.DDNegotiatedRate"/></td>
                    </tr>
                    <tr>
                        <td width="130px"> 24hr Rate</td>
                        <td width="230px"><input type="text" name="pre24hrRate" value="@Model.PermiseDetailForCost.pre24hrRate"/></td>
                        <td width="130px"> 24hr Neotiated Rate</td>
                        <td><input type="text" name="pre24hrNeotiatedRate" value="@Model.PermiseDetailForCost.pre24hrNeotiatedRate"/></td>
                    </tr>
                    <tr>
                        <td width="130px">Tea And Coffee</td>
                        <td width="230px"><input type="text" name="TeaAndCoffee" value="@Model.PermiseDetailForCost.TeaAndCoffee"/></td>
                        <td width="130px">Last Negotiated Date</td>
                        <td><input type="text" name="LastNegotiatedDate" id="LastNegotiatedDate" value="@ViewBag.LastNegotiatedDate" /></td>
                    </tr>
                    <tr>
                        <td width="130px">Lunch</td>
                        <td width="230px"><input type="checkbox" value="1" name="Lunch" @(Model.PermiseDetailForCost.Lunch==1?"checked=checked":"")/></td>
                        <td width="130px">Re-negotiate On</td>
                        <td><input type="text" name="RenegotiateOn" id="RenegotiateOn" value="@ViewBag.RenegotiateOn"/></td>
                    </tr>
                    <tr>
                        <td width="130px">No. Of Meeting Rooms</td>
                        <td width="230px"><input type="text" name="NoOfMeetingRooms" value="@Model.PermiseDetailForCost.NoOfMeetingRooms" /></td>
                        <td width="130px">Preferred Status</td>
                        <td><select name="PreferredStatus" class="standar-dropdown">
                            <option></option>
                            <option @(Model.PermiseDetailForCost.PreferredStatus==1?"selected=selected":"") value="1">Status 1</option>
                            <option @(Model.PermiseDetailForCost.PreferredStatus==2?"selected=selected":"") value="2">Status 2</option>
                        </select></td>
                    </tr>
                    <tr>
                        <td>Meeting Room Rate Per Day</td>
                        <td><input type="text" name="MeetingRoomRatePerDay" value="@Model.PermiseDetailForCost.MeetingRoomRatePerDay"/></td>
                        <td rowspan="2">Comments</td>
                        <td rowspan="2"><textarea cols="25" rows="3" name="Comments">@Model.PermiseDetailForCost.Comments</textarea></td>
                    </tr>
                    <tr>
                        <td width="130px">Codings</td>
                        <td width="230px"><select name="Codings" class="standar-dropdown">
                            <option></option>
                            <option @(Model.PermiseDetailForCost.Codings==1?"selected=selected":"") value="1">Coding 1</option>
                            <option @(Model.PermiseDetailForCost.Codings==2?"selected=selected":"") value="2">Coding 2</option>
                        </select></td>
                    </tr>
                </table>
            </div>
            
            </form>
            <div id="tabs-5">
            @{ Html.RenderAction("List", "Facilities", new { id = Model.PremiseID });  }
            </div>
            <div id="tabs-6">
            @{ Html.RenderAction("List", "Volunteering", new { id = Model.PremiseID });  }
            </div>
            <div id="tabs-7">
            @{ Html.RenderAction("List", "ProjectMinorWork", new { id = Model.PremiseID });  }
            </div>
            <div id="tabs-8">
            @{ Html.RenderAction("ListServiceLink", "Premise", new { id = Model.PremiseID });  }
            </div>
            <div class="error"></div>
        </div>

		</div>
	</div>
