@model ServiceDirectoryTemplate.Models.TrustRegion
@{
    ViewBag.Title = "Edit Trust Region";
}
<script type="text/javascript">
$(document).ready(function () {
    $("#myform").validate({
        errorLabelContainer: $("div.error"),
        rules: {
            TrustRegionName: { required: true, maxlength: 100, remote: { url: "/TrustRegion/CheckUnique1/@Model.TrustRegionID" } },
            CountryID: { required: true}
        },
        messages: {
            TrustRegionName: {
                required: "Please input the Trust Region Name",
                maxlength: "Trust Region Name is too long",
                remote: "Please input other Trust Region Name (the cause is duplicate)"
            },
            CountryID: { required: "Please choose the Nation/Country" }
        }
    });
});

</script>
<div class="container-right">
	<div class="table-content">
		<p style="color:#69a017;font-size:large;margin-bottom:10px">Trust Region Details</p>

	<div id="tabs">
    <form action="/TrustRegion/Update" method="post" name="myform" id="myform">
<input type="hidden" name="TrustRegionID" value="@Html.DisplayFor(model => model.TrustRegionID)" />
    <span style="float:right;margin-right:10px">
    <input type="button" onclick="window.location='/TrustRegion/MarkInactivate/@Model.TrustRegionID'" value="In-activate" />
		<input type="submit" value="Save" /> 
		<a href="/TrustRegion/List" title="List Organisation Screen"><input type="button" value="Back" /> </a>
		</span>
		<ul>
			<li><a href="#tabs-1">Details</a></li>
            <li><a href="#tabs-2">Trust Districts</a></li>
		</ul>
		<div id="tabs-1">
        <table class="table-only-border-out" width="750px">
             <tr>
				<td>Nation/Country <span style="color:red">*</span></td>
				<td>
                    <select class="standar-dropdown" name="CountryID">
                    <option></option>
                        @foreach (var country in ViewBag.ListCountry)
                        {
                                <option value="@country.CountryID" @if(Model.CountryID==@country.CountryID){ @("selected='selected'")}>@country.CountryName</option>
                        }
                        </select>
                </td>
				<td width="140px"> </td>
                <td width="230px"> </td>
			</tr>	
			<tr>
				<td width="140px">Trust Region Name <span style="color:red">*</span></td>
				<td width="230px"><input class="standar-textbox" type="text" name="TrustRegionName" value="@Html.DisplayFor(model => model.TrustRegionName)" /></td>
                <td width="140px"> </td>
                <td width="230px"> </td>
			</tr>
				
			<tr>
				<td>Organisation Short Description</td>
				<td><textarea class="standar-textarea" name="Description">@Html.DisplayFor(model => model.TrustRegionDescription)</textarea></td>
                <td width="140px"> </td>
                <td width="230px"> </td>
			</tr>
				
				
				
		</table>
        </div>
</form>
        <div id="tabs-2">
        @{ Html.RenderAction("ListDistrict", "TrustRegion", Model.TrustRegionID);  }
        
        </div>
        <div class="error"></div>
	</div>
			
	</div>
</div>

